:root {
    --ff-accent: 'Prompt', sans-serif;
    --ff-main: 'Josefin Sans', sans-serif;
    --brown: rgb(88, 44, 0);
    --blanchedAlmond: rgb(255, 235, 205);
    --peachy: rgb(247, 226, 199);
    --slateGreen: rgb(115, 139, 132);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    font-family: var(--ff-main);
    color: var(--brown);
    align-items: center;
    justify-content: center;

}

.backgrounddiv {
    background-image: url(/Users/casvalkyriespicer/Documents/GitHub/oop-greeting/pics/terrazo2.jpeg);
    background-color: rgba(255, 235, 205, 0.5);
    background-blend-mode: screen;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
  
}

h1,
h2 {
    font-family: var(--ff-accent);
    line-height: 2rem;
}

.container,
.container2,
.container3,
.container4,
.container5,
.container6 {
    background-color: peru;
    padding: .5em;
    max-width: 25em;
    z-index: 3;
    
}
 

.container * button,
.container2 * button,
.container3 * button,
.container4 * button,
.container5 * button,
.container6 * button,
.gobutton {
    background-color: rgb(86, 128, 115);
    border-radius: 3px;
    font-family: inherit;
    padding: .3em;
    z-index: 3;
    
}

.container * input,
.container2 * input,
.container3 * input,
.container4 * input, 
.container5 * input, 
.container6 * input  {
    background-color: peachpuff;
    font-family: inherit;
    font-size: 1rem;
    height: 1.3em;
    max-width: 30em;
    margin: .75em;
    border: 1px solid var(--slateGreen);
    border-radius: 3px;
    font-family: inherit;
    transition: transform 250ms;
   
}

input:focus {
    transform: scale(1.1);
}

.container__form--closeBtn {
    float: right;
    background-color: var(--slateGreen);
    border-radius: 7px;
    font-family: inherit;
    padding: .3em;
}

.hidden {
    display: none;
    
}

.hiddenModal {
    display: none;
}

.personcards {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    max-width: 75vw;
    margin: 0 auto;
    border-radius: 20px 20px 20px 20px;
    padding: 2em;
   
}


.button__person1,
.button__person2,
.button__person3,
.button__person4,
.button__person5,
.button__person6,
.gobutton {
    background-color: var(--slateGreen);
    border-radius: 7px;
    font-family: inherit;
    padding: .3em;
    margin: 1.5em; 
}

.person1__container,
.person2__container,
.person3__container,
.person4__container,
.person5__container,
.person6__container {
    background-color: peachpuff;
    padding: .3em;
    margin: .3em;
    max-width: 10em;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: .5em;
    
}

.person1__container {
    border-radius: 50% 40% 33% 33%;
}

.person2__container {
    border-radius: 84% 47% 98% 85%;
}

.person3__container {
    border-radius: 50% 45% 29% 80%;
}

.person4__container {
    border-radius: 50% 95% 50% 33%;
}

.person5__container {
    border-radius: 76% 90% 80% 44%;
}

.person6__container {
    border-radius: 30% 99% 20% 67%;
}



/* MEDIA QUERiES*/

@media (min-width: 800px) {

    h1 {
        padding-top: 1em;
    }
    h1,
    h2,
    .welcome {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .welcome {
        margin-bottom: 1.5em;
    }

    p {
        text-align: center;
    }   

    .personcards {  
        display: grid;
        grid-template-columns: 
        minmax(10em, 10em) minmax(10em, 10em) minmax(10em, 10em) minmax(10em, 10em) minmax(10em, 10em) minmax(10em, 10em);
        grid-template-rows: minmax(10em, 10em) minmax(10em, 10em) minmax(10em, 10em);
        gap: .5em; 
        padding: 2em;
    }

   .person1__container {
        grid-column: 3 / 4;
        }   
        
    .person2__container {
        grid-column: 5 / 6;
        }
        
    .person3__container {
        grid-column: 1 ;
        }
        
    .person4__container {
        grid-column: 6 / 7 ;
        }
        
    .person5__container {
        grid-column: 2 / 3;
        }
        
    .person6__container {
        grid-column: 4 / 5 ;
        }

    .gobutton {
        grid-column: 3;
        grid-row: 2;
        justify-self: right;
    }
     
}