:root {
    --ff-accent: 'Amatic SC', cursive;
    --ff-main: 'Josefin Sans', sans-serif;
    --brown: rgb(122, 61, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: var(--ff-main);
    background-color: peachpuff;
    color: var(--brown);
    align-items: center;
    justify-content: center;
}

h1,
h2 {
    font-family: var(--ff-accent);
}

.container,
.container2,
.container3,
.container4,
.container5,
.container6 {
    background-color: peru;
    padding: .5em;
    max-width: 25em;
}

.container * button,
.container2 * button,
.container3 * button,
.container4 * button,
.container5 * button,
.container6 * button {
    background-color: grey;
    border-radius: 3px;
    font-family: inherit;
    padding: .3em;
}

.container * input,
.container2 * input,
.container3 * input,
.container4 * input, 
.container5 * input, 
.container6 * input  {
    background-color: blanchedalmond;
    font-family: inherit;
    font-size: 1rem;
    height: 1.3em;
    max-width: 30em;
    margin: .75em;
    border: 1px solid grey;
    border-radius: 3px;
    font-family: inherit;
    transition: transform 250ms;
}

input:focus {
    transform: scale(1.1);
}

.container__form--closeBtn {
    float: right;
}

.hidden {
    display: none;
}

.hiddenModal {
    display: none;
}

/*.person2,
.person3,
.person4,
.person5,
.person6 {
        
        
} */

.button__person1,
.button__person2,
.button__person3,
.button__person4,
.button__person5,
.button__person6 {
    background-color: grey;
    border-radius: 7px;
    font-family: inherit;
    padding: .3em;
    margin: 1.5em;
}

.person1__container,
.person2__container,
.person3__container,
.person4__container,
.person5__container,
.person6__container {
    background-color: blanchedalmond;
    padding: .3em;
    margin: .3em;
    max-width: 10em;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: .5em;
}

.person1__container {
border-radius: 20% 40% 19% 33%;
}

.person2__container {
    border-radius: 34% 10% 98% 25%;
}

.person3__container {
    border-radius: 50% 1% 29% 80%;
}

.person4__container {
    border-radius: 9% 95% 50% 21%;
}

.person5__container {
    border-radius: 76% 15% 8% 44%;
}

.person6__container {
    border-radius: 30% 99% 20% 67%;
}

.personcards {
    display: grid;
    align-items: center;
    justify-content: center;
}

/* MEDIA QUERiES*/

@media (min-width: 800px) {
    .personcards {
        display: grid;
        grid-template-columns: 
        33% 33% 33%;
        /*repeat(3, minmax(3em, 3em));
        minmax(1em, 1fr);*/
        grid-auto-rows: 5em;
        gap: .5em; 
    }

   /* .person1__container {
        grid-column: 1 ;

        }
        
    .person2__container {
        grid-column: 2;
        }
        
    .person3__container {
        grid-column: 3 ;
        }
        
    .person4__container {
        grid-column: 4 ;
        }
        
    .person5__container {
        grid-column: 5;
        }
        
    .person6__container {
        grid-column: 6 ;
        }*/
}