:root {
    --ff-accent: 'Amatic SC', cursive;
    --ff-main: 'Josefin Sans', sans-serif;
    --brown: rgb(122, 61, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: var(--ff-main);
    background-color: peachpuff;
    color: var(--brown);
}

h1,
h2 {
    font-family: var(--ff-accent);
}

.container {
    background-color: peru;
    padding: .5em;
    max-width: 25em;
}

.container * button {
    background-color: grey;
    border-radius: 3px;
    font-family: inherit;
    padding: .3em;
}

.container * input {
    background-color: blanchedalmond;
    font-family: inherit;
    font-size: 1rem;
    height: 1.3em;
    max-width: 30em;
    margin: .75em;

}

.container__form--closeBtn {
    float: right;
}

.hidden {
    display: none;
}

.person2,
.person3,
.person4,
.person5,
.person6 {
        background-color: blanchedalmond;
}

.button__person2,
.button__person3,
.button__person4,
.button__person5,
.button__person6 {
    background-color: grey;
    border-radius: 3px;
    font-family: inherit;
    padding: .3em;
}